@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --dark: #050c9c;
  --middle: #3572ef;
  --light: #3abef9;
  --white: #a7e6ff;
  font-family: "Ubuntu", sans-serif;
}

#box {
  position: relative;
  min-height: 100dvh;
  display: grid;
  place-items: center;
  transition: 0.3s;
}
#box::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 65%;
  height: 60%;
  background-image: linear-gradient(to bottom, var(--dark), var(--light) 60%, white);
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
  z-index: -1;
}
#box #output {
  position: absolute;
  right: 0;
  top: 0;
}
#box #output button {
  text-decoration: none;
  background: white;
  border: 1px solid var(--dark);
  box-shadow: 0px 2px 1px 1px var(--dark);
  color: var(--dark);
  font-weight: 700;
  cursor: pointer;
  outline: none;
  padding: 5px;
  margin: 5px;
  font-size: 2rem;
}
#box table {
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 5px var(--white);
  font-size: 2rem;
  accent-color: var(--dark);
}
#box table tbody {
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#box table tr {
  box-shadow: 0px 2px 3px 1px var(--white);
}
#box table tr:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#box table th {
  background-color: var(--white);
  color: var(--dark);
}
#box table th:first-of-type {
  border-top-left-radius: 8px;
}
#box table th:last-of-type {
  border-top-right-radius: 8px;
}
#box table th,
#box table td {
  padding: 3px 8px;
  text-align: center;
}
#box .pagination {
  font-size: 2rem;
  color: var(--dark);
}
#box #detail-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 6rem;
}
#box #detail-box * {
  margin-block: 5px;
  margin-inline: 5px;
}
#box #detail-box img {
  width: clamp(450px, 50%, 550px);
  height: 60dvh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 5px var(--white);
}
#box #detail-box #info {
  width: clamp(400px, 45%, 500px);
  display: flex;
  flex-direction: column;
}
#box #detail-box #info label,
#box #detail-box #info label input {
  font-size: 1.5rem;
}
#box #detail-box #info label input {
  width: 10ch;
}
#box #detail-box #info label input[type=file] {
  width: 8.5ch;
}
#box #detail-box #info label input[type=number] {
  width: 8ch;
}
#box #detail-box #info #buttons button {
  text-decoration: none;
  background: white;
  border: 1px solid var(--dark);
  box-shadow: 0px 2px 1px 1px var(--dark);
  color: var(--dark);
  font-weight: 700;
  cursor: pointer;
  outline: none;
  padding: 5px;
  margin: 5px;
  font-size: 1.5rem;
}
#box #detail-box #info #buttons button:disabled {
  cursor: not-allowed;
  background-color: grey;
}
#box #image-box {
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: 0.3s;
}
#box #image-box span {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 150px;
  transform-style: preserve-3d;
  transform-origin: center;
}
#box #image-box span img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#box #navigate-links button {
  text-decoration: none;
  background: white;
  border: 1px solid var(--dark);
  box-shadow: 0px 2px 1px 1px var(--dark);
  color: var(--dark);
  font-weight: 700;
  cursor: pointer;
  outline: none;
  padding: 5px;
  margin: 5px;
  font-size: 2rem;
}
#box #navigate-links a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--dark);
}
#box #title {
  position: absolute;
  left: 1rem;
  top: 2.5rem;
  font-size: clamp(2.8rem, 6vw, 8rem);
  color: white;
}
#box #search-bar {
  text-decoration: none;
  background: white;
  border: 1px solid var(--dark);
  box-shadow: 0px 2px 1px 1px var(--dark);
  color: var(--dark);
  font-weight: 700;
  cursor: pointer;
  outline: none;
  padding: 5px;
  margin: 5px;
  font-size: 2rem;
}
#box #search-bar:focus {
  border-color: var(--light);
  box-shadow: 0px 2px 1px 1px var(--light);
}
#box #form {
  display: flex;
  padding: 5px;
  width: 30rem;
  height: 20rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--dark);
  box-shadow: 0px 2px 1px 1px var(--dark);
  background: white;
}
#box #form input {
  text-decoration: none;
  background: white;
  border: 1px solid var(--dark);
  box-shadow: 0px 2px 1px 1px var(--dark);
  color: var(--dark);
  font-weight: 700;
  cursor: pointer;
  outline: none;
  padding: 5px;
  margin: 5px;
  font-size: 2rem;
}
#box #form input:focus {
  border-color: var(--light);
  box-shadow: 0px 2px 1px 1px var(--light);
}
#box #form section {
  margin-block: 20px;
}
#box #form section button,
#box #form section a {
  text-decoration: none;
  background: white;
  border: 1px solid var(--dark);
  box-shadow: 0px 2px 1px 1px var(--dark);
  color: var(--dark);
  font-weight: 700;
  cursor: pointer;
  outline: none;
  padding: 5px;
  margin: 5px;
  font-size: 2rem;
}
#box #form a {
  text-decoration: none;
  background: none;
  color: var(--dark);
}
#box #form #message {
  font-weight: 700;
  color: var(--dark);
  font-size: 1.5rem;
}
#box #circle {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-image: linear-gradient(160deg, var(--dark), var(--light), white);
}

@media screen and (max-width: 576px) {
  #box::after {
    width: 100%;
    height: 20.5rem;
  }
  #box #title {
    left: calc(50% - 130.24px);
    top: 8rem;
    font-size: 2.5rem;
    background-image: linear-gradient(to right, white 125px, var(--dark) 125px);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
  }
  #box #detail-box {
    flex-direction: column;
    align-items: center;
    padding: 10px 0.5rem;
  }
  #box #detail-box * {
    margin-inline: 0px;
  }
  #box #detail-box img {
    width: 100%;
    height: auto;
  }
  #box #detail-box #info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #box #search-bar {
    font-size: 1.5rem;
  }
  #box table {
    font-size: 1.5rem;
  }
  #box #output button {
    font-size: 1.5rem;
  }
  #box .pagination {
    font-size: 1.5rem;
  }
  #box #form {
    width: 20rem;
    height: 15rem;
  }
  #box #form input {
    font-size: 1.2rem;
    margin-block: 5px;
    color: var(--dark);
  }
  #box #form section {
    margin-block: 15px;
  }
  #box #form section button,
  #box #form section a {
    font-weight: 700;
    font-size: 1.2rem;
  }
  #box #form #message {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  #box #detail-box {
    flex-direction: column;
    padding: 10px 1rem;
  }
  #box #detail-box * {
    margin-inline: 0px;
  }
  #box #detail-box img {
    width: 100%;
    height: auto;
  }
  #box #detail-box #info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #box #search-bar {
    font-size: 1.5rem;
  }
  #box table {
    font-size: 1.5rem;
  }
  #box #output button {
    font-size: 1.5rem;
  }
  #box .pagination {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #box #detail-box {
    padding: 10px 1.5rem;
  }
  #box #search-bar {
    font-size: 1.5rem;
  }
  #box table {
    font-size: 1.5rem;
  }
  #box #output button {
    font-size: 1.5rem;
  }
  #box .pagination {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1440px) {
  #box #detail-box {
    padding: 10px 3rem;
  }
}
#box #image-box span:nth-of-type(1) {
  transform: translate(-50%, -50%) rotateY(180deg) translateZ(250px) rotateX(-15deg);
}

#box #image-box span:nth-of-type(2) {
  transform: translate(-50%, -50%) rotateY(360deg) translateZ(250px) rotateX(-15deg);
}/*# sourceMappingURL=style.css.map */